<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Clients</h2>
      <p>Where is the money coming from? Your clients of course.</p>
      <p><a class="btn btn-default" href="#/clients" role="button">View clients »</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Employees</h2>
      <p>Feeling a bit like "big brother"? See all your employees.</p>
      <p><a class="btn btn-default" href="#/employees" role="button">View employees »</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Offices</h2>
      <p>The next one will be on the moon ;).</p>
      <p><a class="btn btn-default" href="#/offices" role="button">View offices »</a></p>
    </div>
  </div>
</div>
